* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    background-color: #000;
}

.title {
    font-size: 50px;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 40px;
    text-decoration: underline 4px;
}

.questions-container {
    max-width: 800px;
    margin: 0 auto;
}

.question {
    border-bottom: 1px solid #fff;
}

.question button {
    width: 100%;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;
    border: none;
    outline: none;
    font-size: 22px;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.question button:hover {
    background-color: #333;
}

.question p {
    font-size: 22px;
    max-height: 0;
    opacity: 0;
    line-height: 1.5;
    overflow: hidden;
    transition: all 0.6s ease;
}

.d-arrow {
    transition: transform 0.5s ease-in;
    color: #fff;
}

/* add this class when click */
.question p.show {
    max-height: fit-content;
    opacity: 1;
    padding: 0px 15px 30px 15px;
}

.question button .d-arrow.rotate {
    transform: rotate(180deg);
}

/* Add this CSS to enable scroll for larger text content */
/* Add this CSS to make content scrollable without showing scroll bar */
.question {
    max-height: fit-content;
    overflow-y: auto;
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: transparent transparent; 
    scroll-behavior: smooth;/* Firefox */
}

.question::-webkit-scrollbar {
    width: 0.5em; /* Adjust the width as needed */
}

.question::-webkit-scrollbar-thumb {
    background-color: transparent; /* Hide thumb */
}

.answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.6s ease;
}

.question button.active + .answer {
    max-height: 1000px; /* Adjust to a sufficiently large value */
}

/* Add this CSS to enable scroll for larger text content */
.question {
    max-height: 200px;
    overflow-y: auto;
}

.answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.6s ease;
}

.question button.active + .answer {
    max-height: 1000px; /* Adjust to a sufficiently large value */
}

.heading{
    position: absolute;
}

p{
    font-family: 'Inconsolata', monospace;

}


